<%= render partial: "new_form", locals: {user: @new_user} %>

<%= render partial: "search_form" %>

<% if @matched_users %>
    <h2>Matched Users</h2>
    <%= render partial: "basic_info_table", locals: {users: @matched_users} %>
<% end %>

<h2>All Users</h2>
<%= render partial: "basic_info_table", locals: {users: @users} %>